/*body{
	background: lightblue;
	color : black;  /*/ colors of lyrcs/*/
}
/*h1{
	background-color: red;
}
/*p {
    font-family: verdana;
    font-size: 50px;
}
/*table, th, td {
    border: 1px solid black;
}*/
